<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auth.future.service.configcenter.mapper.ConfigVersionMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="auth.future.service.configcenter.entity.ConfigVersion">
        <id column="F_ID" property="id" />
    <result column="F_CREATE_BY" property="createBy" />
    <result column="F_CREATE_TIME" property="createTime" />
    <result column="F_UPDATE_BY" property="updateBy" />
    <result column="F_UPDATE_TIME" property="updateTime" />
        <result column="F_CONFIG_ID" property="configId" />
        <result column="F_CONTENT" property="content" />
        <result column="F_VERSION" property="version" />
        <result column="F_PUBLISH_STATUS" property="publishStatus" />
        <result column="F_CLASSIFY_ID" property="classifyId" />
        <result column="F_CONFIG_KEY" property="configKey" />
        <result column="F_CLIENT_KEY" property="clientKey" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        F_CREATE_BY, F_CREATE_TIME, F_UPDATE_BY, F_UPDATE_TIME, F_ID, F_CONFIG_ID, F_CONTENT, F_VERSION, F_PUBLISH_STATUS,F_CLASSIFY_ID,F_CONFIG_KEY,F_CLIENT_KEY
    </sql>

    <select id="getMaxVersionConfigVersion" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM t_config_version WHERE F_VERSION = (SELECT MAX(F_VERSION) FROM t_config_version WHERE F_CONFIG_ID=#{configId}) AND F_CONFIG_ID=#{configId};
    </select>

    <select id="getMaxVersionConfigVersionByPublish" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM t_config_version WHERE F_VERSION = (SELECT MAX(F_VERSION) FROM t_config_version WHERE F_CONFIG_ID=#{configId} AND F_PUBLISH_STATUS=1 ) AND F_CONFIG_ID=#{configId};
    </select>
</mapper>
